@import url("../../../assets/css/fonts.css");

:root {
  --white: #fff;
  --ice-white: #f8fafc;
  --dark-grey: #a4a4a5;
  --grey: #d9d9d9;
  --light-grey: #f5f5f5;
  --text-color: #333;
  --header-bg: #2a7ab9;
  --strong-yellow: #ffd100;
  --light-yellow: #ffe36b;
  --black: #1b1b1b;
  --green: #4fa84f;
  --primary-green: #00d000;
  --primary-yellow: #ffcf00;
  --primary-red: #fe0002;
  --primary-purple: #283fc0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
}

body,
button,
p,
h1,
h2 {
  font-family: "GothamRoundedMedium" !important;
}

.hidden {
  display: none !important;
}

header {
  width: 100%;
  height: 80px;
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--white);
  background-color: var(--light-grey);
}

.logo {
  width: 300px;
  height: 100%;
  background-image: url("../imgs/logo-3.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
