@import url('./geral.css');


.container {
    height: auto;
    max-width: 1240px;
    padding-top: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    height: 80px;
    padding: 1rem 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--white);
        background-color: var(--light-grey);
}

.logo {
    width: 300px;
    height: 100%;
    background-image: url('../imgs/logo-3.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#form {
    display: flex;
    flex-direction: column;
}

#form {
    width: 500px;
}

#form label {
    font-size: 1.5rem;
}

#form input {
    margin-top: 5px;
    margin-bottom: 20px;
    height: 40px;
    padding: 0 0.8rem;
}

#form button {
    height: 40px;
    cursor: pointer;
    background-color: var(--primary-green);
    border: none;
    color: var(--white);
}

#form button:hover {
    opacity: 0.7;
}

.container h1 {
    text-align: left;
    margin-bottom: 40px;
}