@import url("./geral.css");

body {
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
button:hover {
  opacity: 0.5;
}
.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas fixas */
  gap: 20px;
  margin-top: 10px;
  width: 100%;
  max-width: 900px;
}

.opcao {
  width: 100%;
  height: 200px;
  background-color: var(--primary-yellow);
  color: var(--black);
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.container {
  height: auto;
  max-width: 1240px;
  padding-top: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.wrapper {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container h2,
.container h3 {
  font-size: 1.3rem;
}

.container p {
  font-size: 1.8rem;
  text-align: left;
}

.btn-encerrar {
  background-color: var(--primary-red);
  color: var(--white);
  width: 100%;
  max-width: 900px;
}

.info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.info button {
  margin: 0;
  background-color: var(--primary-purple);
}

.txt {
  text-align: left;
}

@media screen and (max-width: 1240px) {
  .container {
    padding: 2rem 8rem;
  }
}

@media screen and (max-width: 874px) {
  .container {
    padding: 2rem 3rem;
  }
}

@media screen and (max-width: 600px) {
  .menu {
    grid-template-columns: 1fr;
  }
}
