@import url('../assets/css/fonts.css');

:root {
    --white: #fff;
    --ice-white: #F8FAFC;
    --grey: #E0E0E0;
    --light-grey: #F5F5F5;
    --text-color: #333;
    --header-bg: #2A7AB9;
    --strong-yellow: #FFD100;
    --light-yellow: #FFE36B;
    --black: #1b1b1b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
    font-family: 'GothamRoundedMedium' !important;
}

header {
    width: 100%;
    height: 80px;
    background-color: var(--header-bg);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
}

.logo {
    width: 100px;
    height: 100%;
    background-image: url('./assets/imgs/logo-amarela.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.container {
    height: auto;
    max-width: 1240px;
    padding-top: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin: 0;
}

.dropdown {
    width: 100%;
    margin-bottom: 20px;
}

.details {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.item1 {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: var(--header-bg) !important;
    color: var(--strong-yellow);
}

.item2 {
    display: flex;
    height: 560px;
    gap: 20px;
}

.item1, .l-1, .l-2, .right {
    border-radius: 15px;
    background-color: var(--ice-white);
    border: 1px solid var(--black);
}

.item2 .left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item2 .right {
    width: 50%;
    height: 100%;
}

.l-1 {
    height: 50%;
}

.l-2 {
    height: 50%;
}

.l-1, .l-2, .right {
    padding: 2rem;
    text-align: center;
}


.right .titulo{
    font-size: 2rem;
    height: 15%;
    align-content: center;
}
.right .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
}
.paciente-nome, .paciente-cpf, .dataCheckin, .tipoFila {
    margin-top: 15px;
    font-size: 2rem;
}

.l-2 p {
    margin-bottom: 20px;
}
.l-2 ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    gap: 10px;
}
.l-2 ul li {
    text-align: left;
}

.sala {
    font-size: 2rem;
    margin-top: 50px;
    color: var(--header-bg);
    font-weight: bold;
}

.headline {
    color: var(--header-bg);
    font-weight: bold;
    font-size: 1.5rem;
}


@media screen and (max-width: 1300px) {
    .container {
        margin: 0;
        padding: 1rem 2rem;
    }
}

@media screen and (max-width: 780px) {
    .item2 {
        flex-direction: column;
        height: auto;
    }
    .item2 .right {
        order: 1;
        width: 100%;
        height: 250px;
    }
    .item2 .left {
        order: 2;
        width: 100%;
    }

    .item2 .l-1 {
        height: 200px;
    }

    .item2 .l-2 {
        height: 400px;
    }

    .container p {
        font-size: 1.45rem;
    }
}

@media screen and (max-width: 500px) {
    .container {
        padding: 1rem;
    }
}